<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2.0/css/ripples.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap.material-design/0.2.0/css/material-wfont.min.css">


</head>
<body>
	<div class="container">
		<h1>A random story from the <a href="http://news.ycombinator.com">HackerNews</a> Top 100</h1>
		<div id="story"></div>
	</div>

	<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script src="//cdn.jsdelivr.net/bootstrap.material-design/0.2.0/js/ripples.min.js"></script>
	<script src="//cdn.jsdelivr.net/bootstrap.material-design/0.2.0/js/material.min.js"></script>
	<script src="//cdn.jsdelivr.net/react/0.12.1/react.js"></script>
	<script src="//cdn.jsdelivr.net/react/0.12.1/JSXTransformer.js"></script>
	<script type="text/jsx" src="static/app.js"></script>

	<script>
		$(document).ready(function() {
			$.material.init();
		});
	</script>
</body>
</html>
